aiohttp==3.8.3
aiolimiter==1.0.0
alembic==1.7.7
alembic-autogen-check~=1.1.1
asyncpg==0.24.0
environs==9.5.0
fastapi==0.89.1
fastapi-restful==0.4.3
phonenumbers==8.12.57
pre-commit==2.20.0
python-dotenv==0.21.0
python-telegram-bot[job-queue]==20.0
pytz==2022.7.1
uvicorn==0.18.3
fastapi-mail==1.2.4
pydantic[email]==1.10.4
