environs~=9.5.0
python-telegram-bot~=20.0a4
asyncpg==0.24.0
uvicorn~=0.18.3
fastapi~=0.82.0
fastapi-restful==0.4.3
sqlmodel~=0.0.8
alembic~=1.7.1
pre-commit~=2.20.0
phonenumbers~=8.12.55
alembic-autogen-check~=1.1.1
factory-boy==3.2.1
aiohttp==3.8.3
aiolimiter==1.0.0
pytz==2022.6
