{% extends 'base.html' %} {% block content %}
<form name="password restore" id="form_0" action="{{ token }}" method="post" enctype=multipart/form-data>
  <div class="input">
    <div class="blockinput">
      <input type="password" name="password" placeholder="Введите новый пароль" required>
    </div>

    <div class="blockinput">
      <input type="password" name="password" placeholder="Введите пароль еще раз" required>
    </div>
  </div>
  <div>
    <input class="in_submit" type="submit" value="Отправить">
  </div>
</form>
{% endblock %}
