{% extends 'base.html' %} {% block content %}

<p>Здравствуйте {{name}},</p>
<p>
  Вы были приглашены для участия в проекте <em><strong>"Ломая Барьеры"</strong></em>. Нажмите на кнопку ниже для регистрации своего аккаунта.
</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="{{ url }}" target="_blank">Перейти к регистрации в проекте</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
