name: Stage backend build and deploy

on:
  pull_request:
    branches:
      - develop
    types: [closed]
  push:
    branches:
      - feature/ci_cd
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: lomaya_baryery_backend

jobs:
  build_and_push_lomaya_baryery_backend_image:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    environment:
      name: Stage

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set variables
        run: |
          echo REP_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          labels: runnumber=${GITHUB_RUN_ID}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REP_OWNER }}/${{ env.IMAGE_NAME }}:stage,
            ${{ env.REGISTRY }}/${{ env.REP_OWNER }}/${{ env.IMAGE_NAME }}:latest,
            ${{ env.REGISTRY }}/${{ env.REP_OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}


  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build_and_push_lomaya_baryery_backend_image
    environment:
      name: Stage
    steps:
      - name: Docker login
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull and up
        run: |
          cp /code
          rm -f .env
          touch .env
          echo TELEGRAM_BOT_TOKEN=*** >> .env
          docker image prune -f
          docker pull ghcr.io/studio-yandex-practicum/lomaya_baryery_backend:stage
          docker buildx imagetools inspect ghcr.io/studio-yandex-practicum/lomaya_baryery_backend:stage
          docker compose stop
          docker compose rm bot -f
          docker compose up -d
